body{
    overflow-y:  hidden;
    overflow-x:  hidden;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.naveJog{
    width: 60px;
    height: 59px;
    background-image: url("nave_jog.gif");
    position: absolute;
}

.telaMsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 567px;
    height: 378px;
    display: none;
}

